/*Configurações Gerais do Site*/

:root {
    --preto: black;
    --branco: white;
    --cinza: #d4d4d4;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
header {
    padding: 1%;
    background-color: var(--preto);
    color: var(--branco);
    position: fixed;
    width: 100%;
}

body {
    background-color: var(--cinza);
}

main {
    background-color: var(--branco);
    padding: 1.5%;
    margin: auto;
    width: 90%;
    border-radius: 12px;
    box-shadow: 1px 1px 5px;
}

/*Configurações de Títulos / Headlines*/
h1 {
    font-size: 2.5em;
    margin-top: 1%;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
/*Configurações de Imagens*/
img {
    width: 100%;
    border-radius: 12px;
    margin-top: 1%;
}
/*Configurações de Parágrafos*/
p {
    padding-top: 1%;
    padding-bottom: 1%;
}

/*Configurações de Parágrafos para Disposivitos Móveis*/

@media (min-width: 360px) and (max-width: 800px) {
    p {
        padding-top: 3%;
        padding-bottom: 3%;
        text-align: justify;
    }
    /*Configurações de Divs para Disposivitos Móveis*/
}

/*Divs*/
.separador {
    margin-top: 7%;
}

/*Configurações de Divs para Disposivitos Móveis*/

@media (min-width: 360px) and (max-width: 800px) {
    .separador {
        margin-top: 15%;
    }
}
